/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 42px;
  height: 30px;
  left: 36px;
  top: 36px;
}
@media (min-width: 60.1em) {
  .bm-burger-button {
    display: none;
  }   
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(0, 0, 0);
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #5E2CA5;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.woff")
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("/fonts/ProximaNova-Black.woff")

}
body {
  font-family: "Proxima Nova"
}